<section class="about">
  <img src="/images/me.jpg" alt="Michael Gruber">
  <p>Michael Gruber is a software engineer at IDT Corporation. He graduated from The College of New Jersey with degrees in Computer Science and Interactive Multimedia.</p>
</section>

<section class="contact">
  <a href="https://github.com/michaelgruber" class="github"><img src="/images/github.png" alt="Github"></a>
  <a href="https://twitter.com/Gruberama" class="twitter"><img src="/images/twitter.png" alt="Twitter"></a>
</section>
