@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Open+Sans:800,300);

$serif: 'Lora', serif;
$mono: Menlo, Consolas, "Liberation Mono", Courier, monospace;
$sans: 'Open Sans', sans-serif;

//
// MIXINS
//
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}